
#opening{
    padding-left: 20px;
    margin-bottom: 40px;
}

/* padding for same space between border and text */
#news-ticker{
    padding-left: 20px;
    font-size: medium;
}
/* background image and site font */
.page-bg{
    background-image: url(/images/bg-big.png);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Magra', sans-serif;
}
/*set same bg as on body, font and rainbow color with linear-gradient fill-color transparent */
.jumbotron{
background: url(/images/bg-big.png);
background-repeat: no-repeat;
background-size: cover;
font-family:'Permanent Marker', cursive;
background: linear-gradient(to right, orange , yellow);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}

/* set width and height of banner gif*/
#banner-gif{
    height: 200px;
    width: 100%;
}


.movie{
    background-image: url(/images/bg-big.png);
}

/*set max-width for movie cards*/
.card{
    max-width: 540px;
  
}

/* resize card img that they have same height and width + some margin for space*/
.movie-poster{
    width:150px;
    height:200px;
}
/* set margin to news btn to get space between container and news element , no-border for design*/
#news{
    width: 22rem;
    margin-left: 133px;
    border: none !important;
}
/*set height of spaceship gifs underneath news element*/
.spaceship{
    height:50px;
    margin-left: 15px;
}

/*overright margin style from row that elements can be next to eachother*/
.row{
    margin:0px !important;
}

/*scroll element that movie section is not to big*/
.scroll-container {
    height: 1110px;
    border: 5px solid grey;
    overflow-y: scroll;
    margin-bottom: 20px;
  }

.imdb-btn{
    width: 65px;
    font-weight: bolder;
    margin-right: 70px;
} 
/* add some padding to have btn at same size*/
.facebook-btn{
    padding-left: 15px;
}
.twitter-btn{
    padding-left: 20px;
}
/*add modal bg*/
.modal-body{
    background-image: url(/images/pixelart-2.png);
    background-repeat: no-repeat;
    background-size: cover;
}
/*edit footer for full screen width and bg image*/
.card-footer{
    margin-top: 10px;
    max-width: initial;
    height: 600px;
    background-image: url(/images/city2.gif);
    background-repeat: no-repeat;
    background-size: cover;
}

.sponsor{
    height: 200px;
    width: 200px;
    border: 5px black;
}




/* responsive changes: change bg set margin to 0px and display flex that elements are underneath eachother, hide scrollbar on small devices */
@media screen and (max-width: 800px) {
    .page-bg{
        background-image: url(/images/bg-small.png);
        background-repeat: no-repeat;
        background-size: cover;
    }

    #news{
        margin-left: 0px;
    }
    .row{
        display:flex !important;
    }
    .scroll-container {
      height: auto;
      overflow-y: hidden;
    }
  }
  /* display and margin to have elements next to eachother at large and medium displays*/
  @media screen and (max-width: 1200px){
      #news{
          margin-left: 0px;
      }

      .row{
          display: -webkit-box;
      }
  }



  
